
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f3f4f6;
}

/* ダークモード時のbody背景 */
.dark body {
  background-color: #1a1a1a;
}
